<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mario García | Sr. Software Engineer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Soy un desarrollador web freelance" />
  <meta name="keywords" content="desarrollador web, web developer, freelancer" />
  <meta name="author" content="Mario Garcia" />

  <!-- Facebook and Twitter integration -->
  <meta property="fb:app_id" content="781214492057820"/>
  <meta property="og:title" content="Mario García | Sr. Software Engineer"/>
  <meta property="og:image" content="{{site.url}}/images/avatar.jpg"/>
  <meta property="og:url" content="{{site.url}}"/>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Soy un desarrollador web freelance"/>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mayhongg" />
  <meta name="twitter:title" content="Mario García | Sr. Software Engineer" />
  <meta name="twitter:description" content="Soy un desarrollador web freelance" />
  <meta name="twitter:image" content="{{site.url}}/images/avatar.jpg" />

  <link rel="shortcut icon" href="{{baseurl}}/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{baseurl}}/assets/css/animate.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/icomoon.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/simple-line-icons.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/bootstrap.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/style.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/custom.css">

  <script src="{{baseurl}}/assets/js/modernizr-2.6.2.min.js"></script>
  <!--[if lt IE 9]> <script src="{{baseurl}}/assets/js/respond.min.js"></script> <![endif]-->
  <script src='https://www.google.com/recaptcha/api.js?hl=es-419'></script>
</head>
