<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mario García | Sr. Software Engineer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% t head.meta.description %}" />
  <meta name="keywords" content="desarrollador web, web developer, freelancer" />
  <meta name="author" content="Mario Garcia" />

  <!-- Facebook and Twitter integration -->
  <meta property="fb:app_id" content="781214492057820"/>
  <meta property="og:title" content="Mario García | Sr. Software Engineer"/>
  <meta property="og:image" content="{{site.url}}/images/avatar.jpg"/>
  <meta property="og:url" content="{{site.url}}"/>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{% t head.meta.description %}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mayhongg" />
  <meta name="twitter:title" content="Mario García | Sr. Software Engineer" />
  <meta name="twitter:description" content="{% t head.meta.description %}" />
  <meta name="twitter:image" content="{{site.url}}/images/avatar.jpg" />

  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl_root }}">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/assets/css/icomoon.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/assets/css/simple-line-icons.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl_root }}">

  <script src="{{ "/assets/js/modernizr-2.6.2.min.js" | prepend: site.baseurl_root }}"></script>
  <!--[if lt IE 9]> <script src="{{ "/assets/js/respond.min.js" | prepend: site.baseurl_root }}"></script> <![endif]-->

  {% if site.lang == "es" %}
    {% capture relang %}es-419{% endcapture %}
  {% else %}
    {% capture relang %}{{site.lang}}{% endcapture %}
  {% endif %}
  <script src='https://www.google.com/recaptcha/api.js?hl={{ relang }}'></script>

</head>
